# GRASSHOPPER CONFIGURATION
# =========================

# This file includes all the environment specific configuration for the
# Grasshopper monitoring system.  The configuration directives in this
# file pertain both to the polling jobs managed by the Job Distribution
# component and the frontend GUI.
#
# Configuration directives shoule be supplied in the following format:
#
# CONFIGURATION_OPTION = value
#
# White space surrounding both the option name and the value will be 
# dropped so the following is equivalent:
#
# CONFIGURATION_OPTION=     value
#
# Comments start with a # and can be used to comment a whole line or 
# from a point in a line to the end.  Eg:
#
# CONFIGURATION_OPTION = value  #This is for Foo.

# Database settings:
DB_HOSTNAME = 
DB_DBNAME   = 
DB_USERNAME = 
DB_PASSWORD = 

# Directorys and paths
DIR_RRD     = 
MASTER_FIFO = 

# Beantalk server details
BS_SERVER   = 
BS_PORT     = 
BS_JOBQ     =      #Queue used to send jobs to the workers

#Logging
dispatchers = screen syslog

screen.class     = Log::Dispatch::Screen
screen.min_level = info
screen.stderr    = 1
screen.format    = %d (%p) %m%n

syslog.class     = Log::Dispatch::Syslog
syslog.min_level = info
syslog.format    = (%p) %m
