<XML>
	<!-- Define and configure each poller -->
	<Pollers>

	    <Defaults>
	        <Server>localhost</Server>
	        <Port>11300</Port>
	    </Defaults>

        <!-- Poller specific beanstalk server details defined here -->
<!--    <hostname>
	        <Server>beanstalkServer</Server>
	        <Port>beanstalkPort</Port>
	    </hostname>
-->

	</Pollers>
	
	<!-- Define each job tube and subscribe pollers to them -->
	<Tubes>
	    <Jobs> <!-- Queue name -->
			<Description>Bland non specific queue.</Description>
			
			<!-- Declare each poller that should watch this queue -->
			<Poller>hostname</Poller>
			
	    </Jobs>
	</Tubes>        
</XML>
