<h1 class="strong">[% target %] / [% cat %] / [% dev %]</h1>
<p class="center">(Click a graph to access time frame definition controls)</p>

[% FOREACH graph IN graphs %]
    <div class="centered">        
	    <a href="/graphedit/[% graph %]">
	        <img src="/static/rrds/[% graph %]" alt="Graph generation failed try reloading." />
	    </a>
    </div>
[% END %]
